


.input-group-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 15px;
}

label {
  font-weight: bold;
}

input, textarea {
  width: 80%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-div{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.btn-div a{
  color: white;
}








/* //------------------------------------ */

.contact-section{
     margin-top: 60px;
    border-top: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 140px;
    padding: 180px 200px;
}

.contact-left h1{
    font-size: 3rem;
    text-align: start;
}

.contact-left h3{
    font-weight: 500;
}

.contact-left{
    width: 40%;
    height: 100%;
}

.contact-right{
    width:50%;
}



@media(max-width: 786px){

    
.contact-section{
    margin: 60px 0;
    border-top: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 40px;
    padding: 40px 40px;

    flex-direction: column;
}

.contact-left h1{
    font-size: 3rem;
    text-align: start;
}

.contact-left h3{
    font-weight: 500;
}

.contact-left{
    width: 100%;
}

.contact-right{
    width:100%;
}

    
}